<form action = "http://localhost:81/update" method = "POST">
   <p>DriverRef <input type = "text" name = "DriverRef" /></p>
   <p>Number <input type = "text" name = "Number" /></p>
   <p>Code <input type ="text" name = "Code" /></p>
   <p>Forename <input type="text" name = "Forename" /></p>
   <p>Surname  <input type="text" name = "Surname" /></p>
   <p>DOB <input type="text" name = "DOB" /></p>
   <p>Nationality <input type="text" name = "Nationality" /></p>
   <p>url <input type="text" name = "url" /></p>
   <p><input type = "submit" value = "Update" /></p>
</form>